body {
    margin: 0%;
}

.container {
    background-image: url(../fotos/panteon.jpg);
    width: 722px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.box {
    width: 10%;
    overflow: auto;
    height: 35%;
    margin-top: 100px;
}